// This comment won't be included in the CSS.
/* But this comment will, except in compressed mode.*/
/// Computes an exponent.

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&display=swap');


html {
  box-sizing: border-box;
  font-size: 100%;
    ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none; 
  //position: fixed;

  ::-moz-selection { /* Code for Firefox */
    //color: red;
    background: #2600ff;
  }
  
  ::selection {
    //color: red;
    background: #2600ff;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
} 

body {
  width: 100%;
  //height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'DINNextLTPro-Regular';
  font-size: 100%;
  line-height: 1.3;
  background-color: $color1;
  //position: absolute;
  position: relative;  
  //overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family:'PFDinMono-XThin';
  font-size: 20px;
  color: $color10;
  text-align: left;
  line-height: 85%;
  letter-spacing: 0.1rem;
  //text-transform: uppercase;
  
}

/* h1 {
  font-family:'DINNextLTPro-Black';
  font-size: $font-xxxl;
  color: $color8;
  text-align: left;
  line-height: 85%;
  //text-transform: uppercase;
  
} */

p {
  font-family:"PFDinMono-Regular";
  font-size: $font-s;
  color: $color8;
  text-transform: uppercase;
  
  font-display: swap;
  letter-spacing: 0.08rem;
  
}

a {
  font-family:'DINNextLTPro-Regular';
  font-size: $font-xs;
  color: $color10;
  letter-spacing: 0.1rem;
  font-display: swap;
  text-decoration: none;
  text-transform: uppercase;
  
/*   &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: $color10;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  } */
}

/* .topnav__link ul li a:hover {
  color: $color10;
  transform: scale(1.5);

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
} */

/* a:active {
  color: $colork1;
} */

nav ul{
  width: 100%;
}

/* ul li span :hover{
  color: rgb(255, 255, 255);
} */

button {
  border:none;
  cursor:pointer;
  padding:0;
  background:none;
}

button:focus {
  outline:none;
}



// Flexbox
.flex {
  display: flex;

  &-jc-sb{
    justify-content: space-between;
  }

  &-jc-c{
    justify-content: center;
  }

  &-jc-fs{
    justify-content: flex-start;
  }

  &-jc-fe{
    justify-content: flex-end;
  }

  &-ai-c{
    align-items: center;
  }
}

// Grid
.grid {
  display: grid;

  &-jc-sb{
    justify-content: space-between;
  }

  &-jc-c{
    justify-content: center;
  }

  &-ai-c{
    align-items: center;
  }
}

.app{
  //width: 100%;
  //height: 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.preloader {
  z-index: 200;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: $color1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  //transform: translateY(-100%);
  overflow-y:scroll;
  overflow-x: hidden;
    
  &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    
      &__percent {
        font: {
        size: 75px;
        weight: 700;
      }
      margin-bottom: 20px;
    }
  }
}

.scene-container{
  width: 100vw;
  height: 100vh;
  z-index: -10;
  top: 0;
  bottom:0;
  position: fixed;
  overflow: hidden;
}

.app-wrapper{
  width: 100%;
  height: 100%;
}

.slide {
  width: 100vw;
  height: 100vh;
  /* min-height: 400vh; */
  font-size: 1.6rem;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
 
  border-color: none;
  border-top: 2px solid;
  border-color: $colork1;
}

/* .slide-a {
  background-color: #8d3dae;
} */

/* .slide-b {
 background-color: #131313;
} */

/* .slide-c {  
  background-color: #e26c16;
} */

/* .slide-d {  
  background-color: #28a92b;
} */

.line {
  width: 2px;
  height: 400%;
  // position: absolute;
  left: 400px;
  top: 0px;
  visibility: hidden;
  background-color: #777;
}

#hero-container {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-wrapper {
  position: absolute;  
  overflow: hidden;
  width: 100%;
}

#content-container {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  padding-left: 8vw;
  padding-right: 8vw;
}

#content-wrapper { 
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* justify-items: center; */
  grid-template-columns: repeat(12, 1fr); 
  column-gap: 1.5em;
}

/* #content-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
} */

.content {
  /* position: absolute; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;

/*   z-index: -20;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  column-gap: 1.5em; */
}


/* .content__outer{
  position: absolute;
  width: 100%;
  z-index: -20;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  column-gap: 1.5em;
}
 */
/* .content-a {
  opacity: 0;
}

.content-b {
 opacity: 0;
}

.content-c {  
  opacity: 0;
}

.content-d {  
  opacity: 0;
}

.active {
  opacity: 1;
}

.noneactive {
  opacity: 0;
} */


/* .nav {
  margin: 0;
  list-style:none;
  padding: 0;
  position: fixed;
  top: 200px;
  left: 20px;
  z-index: 1;
  
  a {
    color: #fff;
    text-transform: uppercase;
    
  }
} */

/* #progressbar{
    right: 280px;
    z-index: 30;
    position: absolute;
    background-color: aquamarine;
    width: 300px;
    height: 5px;
    bottom: 300px;
} */


.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: $color1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateY(-100%);
  overflow-y:scroll;
  overflow-x: hidden;
}

.icon{
  width: 20px;
  height: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  
        line{
          stroke: $color10;
          stroke-width: 0.094rem;
          //stroke-width: 1.5;
      }

      rect{
          stroke: $color10;
          stroke-width: 0.094rem;
          //stroke-width:  1.5;
      }
         
      path{
          stroke: $color10;
          stroke-width: 0.094rem;
          //stroke-width:  1.5;
      }

      polyline{
          stroke: $color10;
          stroke-width: 0.094rem;
          //stroke-width:  1.5;
      }
}

.scrollline-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
}

.scrollline-wrapper{
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  padding-left: 8vw;
  padding-right: 8vw;
}

#close {
	opacity:0;
}

.scrollline-outer{
  /* transform: rotate(90deg); */
  position: initial;
  width: 2px;
  height: 180px;
  /* margin-right: 2px; */
}

.scrollline-inner{
  /* width: 2px; */
  height:180px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  background-color: $color0;
}

.scrollline {
  width: 100%;
  max-width: 180px;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color:$color10;
}

.bullets-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* width: 15px;
  height: 200px; */
  position: absolute;
 /*  z-index: 300; */
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.bullets-wrapper{
  width: 8px;
  height: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;
  align-content: center;
}

.bullets__link {
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0;
  position: relative;
  background: $color10;
  cursor:pointer;

 

 
}


.link-spanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

}

 /* transition:0.5s cubic-bezier(1, 0, 0, 1) ; */
/* .bullets:before {
  position: absolute;
  content: "";
  background:white;
  width: 8px;
  height: 2px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  opacity:0;
  transition:0.5s ease-in-out;
  transform:scale(0);
}
.bullets.active:before {
  opacity:1;
  transform:scale(1);
} */