.header-container{
    width: 100%;
    /* height: 120px; */
    display: flex;
    position: fixed;
    padding-left: 8vw;
    padding-right: 8vw;
    //padding-top: 30px;
    z-index: 2;


    .header-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        /* display: grid;
        grid-template-columns: 1fr 400px 1fr;
        align-items: center; */
        z-index: 2;
        
        
       /* .logo{
            width: 200px;
            height: 14px;
        } */

        .topnav{
            //grid-column: 2 / 2; 
        
            li{
                width: 320px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: nowrap;
                
            }
            
        }
        
        /* .mobilenav{
            grid-column: 3 / 3;
            z-index: 3;
        } */





        .topnav__link{
            height: 100%;
            /* background-color: rgb(217, 255, 0); */
            /* border: 3px solid, aqua; */
            /* border-bottom: chocolate; */
            border-style: none none none none;
            border-width: 2px;

            &:hover {
                /* color: #3498db; */
                border-bottom: $colork4;
                border-style: none none solid none;
                border-width: 2px;
              }


        }

        .topnav__linkactive{
            /* height: 100%; */
            /* background-color: rgb(119, 119, 119); */
            border-bottom: $colork4;
            border-style: none none solid none;
            border-width: 2px;
            


        }
    }
}


















#close {
	opacity:0;

}





#hambutton {
	background-color:transparent!important;
	margin:0;
	outline: none!important;
	cursor:pointer;
	border:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    padding: 0;
    position: relative;
    z-index: 999!important;
}
  