//-----------------
// Mouse variables
//-----------------

$nsize: 120px;
$percent: 50%;
$weigth: 40px;

//-----------------
// Color variables
//-----------------

$color10: hsl(0, 0%, 100%);
$color9: hsl(0, 0%, 95%);
$color8: hsl(0, 0%, 85%);
$color7: hsl(0, 0%, 75%);
$color6: hsl(0, 0%, 65%);
$color5: hsl(0, 0%, 100%);
$color4: hsl(0, 0%, 25%);
$color3: hsl(0, 0%, 16%);
$color2: hsl(0, 0%, 8%);
$color1: hsl(0, 0%, 3%);
$color0: hsl(0, 0%, 0%);

$colork1: hsl(0, 0%, 95%);
$colork2: hsl(224, 100%, 50%);
$colork3: hsl(0, 100%, 71%);
$colork4: hsl(0, 0%, 51%);
$colork5: hsl(0, 0%, 15%);
$colork6: hsl(0, 0%, 100%);

$font-xxxs: 0.625rem; // 10px
$font-xxs: 0.688rem; // 11px
$font-xs: 0.750rem; // 12px
$font-s: 0.813rem;   // 13px
$font-ss: 0.875rem;   // 14px
$font-med: 1rem;     // 16px
$font-large: 1.2rem;   //24px   
$font-xl: 24px;
$font-xxl: 82px;
$font-xxxl: 100px;
$font-xxxxl: calc(2em + 7vw);
$font-xxxxxl: 180px;

