/* But this comment will, except in compressed mode.*/
html {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html ::-webkit-scrollbar {
  display: none;
}

html ::-moz-selection {
  /* Code for Firefox */
  background: #2600ff;
}

html ::selection {
  background: #2600ff;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'DINNextLTPro-Regular';
  font-size: 100%;
  line-height: 1.3;
  background-color: #080808;
  position: relative;
  /* position: fixed;  */
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'PFDinMono-XThin';
  font-size: 20px;
  color: white;
  text-align: left;
  line-height: 85%;
  letter-spacing: 0.1rem;
}

/* h1 {
  font-family:'DINNextLTPro-Black';
  font-size: $font-xxxl;
  color: $color8;
  text-align: left;
  line-height: 85%;
  //text-transform: uppercase;
  
} */
p {
  font-family: "PFDinMono-Regular";
  font-size: 0.813rem;
  color: #d9d9d9;
  text-transform: uppercase;
  font-display: swap;
  letter-spacing: 0.08rem;
}

a {
  font-family: 'DINNextLTPro-Regular';
  font-size: 0.75rem;
  color: white;
  letter-spacing: 0.1rem;
  font-display: swap;
  text-decoration: none;
  text-transform: uppercase;
  /*   &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: $color10;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  } */
}

/* .topnav__link ul li a:hover {
  color: $color10;
  transform: scale(1.5);

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
} */
/* a:active {
  color: $colork1;
} */
nav ul {
  width: 100%;
}

/* ul li span :hover{
  color: rgb(255, 255, 255);
} */
button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
}

button:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* position: relative; */
}

.preloader {
  z-index: 200;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #080808;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.preloader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.preloader__container__percent {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}

.scene-container {
  width: 100vw;
  height: 100vh;
  z-index: -10;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100vw;
  height: 100vh;
  /* min-height: 400vh; */
  font-size: 1.6rem;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  border-color: none;
  border-top: 2px solid;
  border-color: #ff335f;
}

/* .slide-a {
  background-color: #8d3dae;
} */
/* .slide-b {
 background-color: #131313;
} */
/* .slide-c {  
  background-color: #e26c16;
} */
/* .slide-d {  
  background-color: #28a92b;
} */
.line {
  width: 2px;
  height: 400%;
  left: 400px;
  top: 0px;
  visibility: hidden;
  background-color: #777;
}

#hero-container {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

#content-container {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding-left: 8vw;
  padding-right: 8vw;
}

#content-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-items: center; */
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
}

/* #content-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
} */
.content {
  /* position: absolute; */
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  /*   z-index: -20;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  column-gap: 1.5em; */
}

/* .content__outer{
  position: absolute;
  width: 100%;
  z-index: -20;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  column-gap: 1.5em;
}
 */
/* .content-a {
  opacity: 0;
}

.content-b {
 opacity: 0;
}

.content-c {  
  opacity: 0;
}

.content-d {  
  opacity: 0;
}

.active {
  opacity: 1;
}

.noneactive {
  opacity: 0;
} */
/* .nav {
  margin: 0;
  list-style:none;
  padding: 0;
  position: fixed;
  top: 200px;
  left: 20px;
  z-index: 1;
  
  a {
    color: #fff;
    text-transform: uppercase;
    
  }
} */
/* #progressbar{
    right: 280px;
    z-index: 30;
    position: absolute;
    background-color: aquamarine;
    width: 300px;
    height: 5px;
    bottom: 300px;
} */
.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #080808;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow-y: scroll;
  overflow-x: hidden;
}

.icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon line {
  stroke: white;
  stroke-width: 0.094rem;
}

.icon rect {
  stroke: white;
  stroke-width: 0.094rem;
}

.icon path {
  stroke: white;
  stroke-width: 0.094rem;
}

.icon polyline {
  stroke: white;
  stroke-width: 0.094rem;
}

.scrollline-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
}

.scrollline-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 8vw;
  padding-right: 8vw;
}

#close {
  opacity: 0;
}

.scrollline-outer {
  /* transform: rotate(90deg); */
  position: initial;
  width: 2px;
  height: 180px;
  /* margin-right: 2px; */
}

.scrollline-inner {
  /* width: 2px; */
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: black;
}

.scrollline {
  width: 100%;
  max-width: 180px;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color: white;
}

.bullets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* width: 15px;
  height: 200px; */
  position: absolute;
  /*  z-index: 300; */
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bullets-wrapper {
  width: 8px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bullets__link {
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0;
  position: relative;
  background: white;
  cursor: pointer;
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* transition:0.5s cubic-bezier(1, 0, 0, 1) ; */
/* .bullets:before {
  position: absolute;
  content: "";
  background:white;
  width: 8px;
  height: 2px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  opacity:0;
  transition:0.5s ease-in-out;
  transform:scale(0);
}
.bullets.active:before {
  opacity:1;
  transform:scale(1);
} */
@font-face {
  font-family: 'DIN-Light';
  src: url("/fonts/DIN-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'DIN-Regular';
  src: url("/fonts/DIN-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'DIN-Medium';
  src: url("/fonts/DIN-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'DIN-Bold';
  src: url("/fonts/DIN-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'DIN-Black';
  src: url("/fonts/DIN-Black.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-XThin';
  src: url("/fonts/PFDinMono-XThin.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Thin';
  src: url("/fonts/PFDinMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Light';
  src: url("/fonts/PFDinMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Regular';
  src: url("/fonts/PFDinMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Medium';
  src: url("/fonts/PFDinMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Bold';
  src: url("/fonts/PFDinMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-UltraLight';
  src: url("/fonts/DINNextLTPro-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url("/fonts/DINNextLTPro-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url("/fonts/DINNextLTPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url("/fonts/DINNextLTPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url("/fonts/DINNextLTPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Heavy';
  src: url("/fonts/DINNextLTPro-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Black';
  src: url("/fonts/DINNextLTPro-Black.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-UltraLightCond';
  src: url("/fonts/DINNextLTPro-UltraLightCond.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-LightCondensed';
  src: url("/fonts/DINNextLTPro-LightCondensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Condensed';
  src: url("/fonts/DINNextLTPro-Condensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-MediumCond';
  src: url("/fonts/DINNextLTPro-MediumCond.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-BoldCondensed';
  src: url("/fonts/DINNextLTPro-BoldCondensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-HeavyCondensed';
  src: url("/fonts/DINNextLTPro-HeavyCondensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-BlackCondensed';
  src: url("/fonts/DINNextLTPro-BlackCondensed.woff2") format("woff2");
}

.header-container {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding-left: 8vw;
  padding-right: 8vw;
  z-index: 2;
}

.header-container .header-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*         display: grid;
        grid-template-columns: 1fr 400px 1fr;
        align-items: center; */
  z-index: 2;
  /*         .mobilenav{
            grid-column: 3 / 3;
            z-index: 3;
        } */
}

.header-container .header-wrapper .logo {
  width: 200px;
  height: 14px;
}

.header-container .header-wrapper .topnav li {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-container .header-wrapper .topnavlink {
  height: 100%;
}

#close {
  opacity: 0;
}

#hambutton {
  background-color: transparent !important;
  margin: 0;
  outline: none !important;
  cursor: pointer;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  position: relative;
  z-index: 999 !important;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-dektop {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  h1 {
    font-size: 0.688rem;
  }
}

.footer-container {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8vw;
  padding-right: 8vw;
  z-index: 2;
  position: absolute;
  bottom: 0;
}

.footer-container .footer-wrapper {
  width: 100%;
  height: 100%;
  /*         display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* @import "mouse"; */
/*# sourceMappingURL=styles.css.map */
