/* But this comment will, except in compressed mode.*/
html {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html ::-webkit-scrollbar {
  display: none;
}

html ::-moz-selection {
  /* Code for Firefox */
  background: #2600ff;
}

html ::selection {
  background: #2600ff;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'DINNextLTPro-Regular';
  font-size: 100%;
  line-height: 1.3;
  position: absolute;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'DINNextLTPro-Black';
  font-size: calc(2em + 7vw);
  color: #828282;
  text-align: left;
  line-height: 100%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'DINNextLTPro-Black';
  font-size: 24px;
  color: #828282;
  text-align: left;
  line-height: 100%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'DINNextLTPro-Light';
  font-size: 1rem;
  color: #828282;
  text-align: left;
  line-height: 100%;
  letter-spacing: 0.05rem;
  /* text-transform: uppercase; */
}

/* h4 {
  font-family:'DINNextLTPro-Black';
  font-size: $font-xxxl;
  color: $color8;
  text-align: left;
  line-height: 85%;
  //text-transform: uppercase;
} */
p {
  font-family: "PFDinMono-Regular";
  font-size: 0.688rem;
  color: #828282;
  /* text-transform: uppercase; */
  font-display: swap;
  letter-spacing: 0.08rem;
}

a {
  font-family: 'DINNextLTPro-Medium';
  font-size: 0.813rem;
  color: #828282;
  /* letter-spacing: 0.02rem; */
  font-display: swap;
  text-decoration: none;
  /* text-transform: uppercase; */
  /*  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10%;
    top: 100%;
    left: 0;
    background: #3498db;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  } */
  /* &:hover {
    color: #3498db;
  } */
  /* &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  } */
  /*   &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: $color10;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  } */
}

/* .topnav__link ul li a:hover {
  color: $color10;
  transform: scale(1.5);

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
} */
/* a:active {
  color: $colork1;
} */
nav ul {
  width: 100%;
}

/* ul li span :hover{
  color: rgb(255, 255, 255);
} */
button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
}

button:focus {
  outline: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* background: $colork1; */
  background: white;
  /* background: radial-gradient(circle, rgba(246,246,246,1) 0%, rgba(199,199,199,1) 100%); */
  /* position: relative; */
}

.preloader {
  z-index: 200;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.preloader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.preloader__container__percent {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 20px;
}

.scene-container {
  width: 100vw;
  height: 100vh;
  z-index: -10;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100vw;
  height: 100vh;
  /* min-height: 400vh; */
  font-size: 1.6rem;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  /* border-color: none;
  border-top: 2px solid;
  border-color: $colork1; */
}

/* .slide-a {
  background-color: #8d3dae;
} */
/* .slide-b {
 background-color: #131313;
} */
/* .slide-c {  
  background-color: #e26c16;
} */
/* .slide-d {  
  background-color: #28a92b;
} */
.line {
  width: 2px;
  height: 400%;
  left: 400px;
  top: 0px;
  visibility: hidden;
  /* background-color: $colork1; */
}

#hero-container {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

#content-container {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  /* padding-left: 8vw;
  padding-right: 8vw; */
}

/* #content-wrapper { 
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center; 
  grid-template-rows: 35vh 40vh 15vh 10vh;
  justify-items: center;
  /* grid-template-columns: repeat(12, 1fr); 
  column-gap: 1.5em;
} */
#content-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 8vw;
  padding-right: 8vw;
}

.content__outer {
  width: 100%;
  height: 100%;
  z-index: -20;
  -ms-grid-rows: 100px auto 100px;
      grid-template-rows: 100px auto 100px;
}

.content__inner {
  -ms-grid-row: 2;
  grid-row: 2;
  /* display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: nowrap; */
}

/* .home {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
} */
/* .content-b {
 opacity: 0;
}

.content-c {  
  opacity: 0;
}

.content-d {  
  opacity: 0;
}

.active {
  opacity: 1;
}

.noneactive {
  opacity: 0;
} */
/* .nav {
  margin: 0;
  list-style:none;
  padding: 0;
  position: fixed;
  top: 200px;
  left: 20px;
  z-index: 1;
  
  a {
    color: #fff;
    text-transform: uppercase;
    
  }
} */
/* #progressbar{
    right: 280px;
    z-index: 30;
    position: absolute;
    background-color: aquamarine;
    width: 300px;
    height: 5px;
    bottom: 300px;
} */
.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  overflow-y: scroll;
  overflow-x: hidden;
}

.icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon line {
  stroke: #828282;
  /* stroke-width: 0.063rem; */
  stroke-width: 1.5px;
}

.icon rect {
  stroke: #828282;
  /* stroke-width: 0.063rem; */
  stroke-width: 1.5px;
}

.icon path {
  stroke: #828282;
  /* stroke-width: 0.063rem; */
  stroke-width: 1.5px;
}

.icon polyline {
  stroke: #828282;
  /* stroke-width: 0.063rem; */
  stroke-width: 1.5px;
}

.scrollline-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
}

.scrollline-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 8vw;
  padding-right: 8vw;
}

#close {
  opacity: 0;
}

.scrollline-outer {
  /* transform: rotate(90deg); */
  position: initial;
  width: 0.063rem;
  height: 180px;
  margin-right: 4px;
}

.scrollline-inner {
  width: 2px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* background-color: $color10; */
}

.scrollline {
  width: 100%;
  max-width: 180px;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color: #828282;
}

.bullets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* width: 15px;
  height: 200px; */
  position: absolute;
  /*  z-index: 300; */
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.bullets-wrapper {
  width: 8px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bullets__link {
  display: block;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  /* height: 0.063rem; */
  margin: 0;
  position: relative;
  background: #828282;
  cursor: pointer;
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* transition:0.5s cubic-bezier(1, 0, 0, 1) ; */
/* .bullets:before {
  position: absolute;
  content: "";
  background:white;
  width: 8px;
  height: 2px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  opacity:0;
  transition:0.5s ease-in-out;
  transform:scale(0);
}
.bullets.active:before {
  opacity:1;
  transform:scale(1);
} */
@font-face {
  font-family: 'PFDinMono-XThin';
  src: url("../fonts/PFDinMono-XThin.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Thin';
  src: url("../fonts/PFDinMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Light';
  src: url("../fonts/PFDinMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Regular';
  src: url("../fonts/PFDinMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Medium';
  src: url("../fonts/PFDinMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'PFDinMono-Bold';
  src: url("../fonts/PFDinMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-UltraLight';
  src: url("../fonts/DINNextLTPro-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Light';
  src: url("../fonts/DINNextLTPro-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Regular';
  src: url("../fonts/DINNextLTPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Medium';
  src: url("../fonts/DINNextLTPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Bold';
  src: url("../fonts/DINNextLTPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Heavy';
  src: url("../fonts/DINNextLTPro-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Black';
  src: url("../fonts/DINNextLTPro-Black.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-UltraLightCond';
  src: url("../fonts/DINNextLTPro-UltraLightCond.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-LightCondensed';
  src: url("../fonts/DINNextLTPro-LightCondensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-Condensed';
  src: url("../fonts/DINNextLTPro-Condensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-MediumCond';
  src: url("../fonts/DINNextLTPro-MediumCond.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-BoldCondensed';
  src: url("../fonts/DINNextLTPro-BoldCondensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-HeavyCondensed';
  src: url("../fonts/DINNextLTPro-HeavyCondensed.woff2") format("woff2");
}

@font-face {
  font-family: 'DINNextLTPro-BlackCondensed';
  src: url("../fonts/DINNextLTPro-BlackCondensed.woff2") format("woff2");
}

.header-container {
  width: 100%;
  /* height: 120px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding-left: 8vw;
  padding-right: 8vw;
  z-index: 2;
}

.header-container .header-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* display: grid;
        grid-template-columns: 1fr 400px 1fr;
        align-items: center; */
  z-index: 2;
  /* .logo{
            width: 200px;
            height: 14px;
        } */
  /* .mobilenav{
            grid-column: 3 / 3;
            z-index: 3;
        } */
}

.header-container .header-wrapper .topnav li {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-container .header-wrapper .topnav__link {
  height: 100%;
  /* background-color: rgb(217, 255, 0); */
  /* border: 3px solid, aqua; */
  /* border-bottom: chocolate; */
  border-style: none none none none;
  border-width: 2px;
}

.header-container .header-wrapper .topnav__link:hover {
  /* color: #3498db; */
  border-bottom: #828282;
  border-style: none none solid none;
  border-width: 2px;
}

.header-container .header-wrapper .topnav__linkactive {
  /* height: 100%; */
  /* background-color: rgb(119, 119, 119); */
  border-bottom: #828282;
  border-style: none none solid none;
  border-width: 2px;
}

#close {
  opacity: 0;
}

#hambutton {
  background-color: transparent !important;
  margin: 0;
  outline: none !important;
  cursor: pointer;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  position: relative;
  z-index: 999 !important;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-dektop {
    display: none;
  }
}

@media (max-width: 39.9375em) {
  h1 {
    font-size: calc(2em + 7vw);
  }
}

@media (max-width: 39.9375em) {
  .content__inner {
    -ms-grid-columns: repeat 4, 1fr;
        grid-template-columns: repeat 4, 1fr;
    -webkit-column-gap: 1.3em;
            column-gap: 1.3em;
  }
}

@media (min-width: 40em) {
  .content__inner {
    -ms-grid-columns: repeat 8, 1fr;
        grid-template-columns: repeat 8, 1fr;
    -webkit-column-gap: 1.3em;
            column-gap: 1.3em;
  }
}

@media (min-width: 64em) {
  .content__inner {
    -ms-grid-columns: repeat 12, 1fr;
        grid-template-columns: repeat 12, 1fr;
    -webkit-column-gap: 1.3em;
            column-gap: 1.3em;
  }
}

@media (max-width: 39.9375em) {
  #home {
    -ms-grid-rows: 100px auto 100px;
        grid-template-rows: 100px auto 100px;
  }
}

@media (min-width: 40em) {
  #home {
    -ms-grid-rows: 100px auto 100px;
        grid-template-rows: 100px auto 100px;
  }
}

@media (min-width: 64em) {
  #home {
    -ms-grid-rows: 100px auto 100px;
        grid-template-rows: 100px auto 100px;
  }
}

/* .inner-grid {

    @include breakpoints-down(small){
        grid-column: 1 / 5;
    }

    @include breakpoints-up(medium){
        grid-column: 3 / 7;
    }

    @include breakpoints-up(large){
        grid-column: 5 / 9;
    }
} */
@media (max-width: 39.9375em) {
  #hometitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
  }
}

@media (min-width: 40em) {
  #hometitle {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
  }
}

@media (min-width: 64em) {
  #hometitle {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
  }
}

@media (max-width: 39.9375em) {
  #homecopy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
  }
}

@media (min-width: 40em) {
  #homecopy {
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-column: 3 / 7;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
  }
}

@media (min-width: 64em) {
  #homecopy {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
  }
}

/* #content-wrapper{

    @include breakpoints-down(small){
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1.5em;
    }

    @include breakpoints-up(medium){
        grid-template-columns: repeat(8, 1fr);
        column-gap: 1.5em;
    }

    @include breakpoints-up(large){
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1.5em;
    }
} */
@media (max-width: 39.9375em) {
  .header-container {
    height: 90px;
  }
}

@media (min-width: 40em) {
  .header-container {
    height: 110px;
  }
}

@media (max-width: 39.9375em) {
  .footer-container {
    height: 70px;
  }
}

@media (min-width: 40em) {
  .footer-container {
    height: 100px;
  }
}

.footer-container {
  width: 100%;
  /* height: 120px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8vw;
  padding-right: 8vw;
  z-index: 2;
  position: absolute;
  bottom: 0;
}

.footer-container .footer-wrapper {
  width: 100%;
  height: 100%;
  /*         display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* @import "mouse"; */
/*# sourceMappingURL=styles.css.map */
